:root {
  --button-bg-color: #2196f3;
  --button-bg-color-hover: #1769aa;
  --height: 36px;
  --font-size: 16px;
}

.my-button {
  border-radius: 3px;
  padding: 6px 12px;
  margin: 0.5rem;
  height: var(--height);
  font-size: var(--font-size);
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  text-transform: uppercase;
  background-position: center;

  &:disabled {
    --button-bg-color: #87898b;
    --button-bg-color-hover: #87898b;
  }

  &--contained {
    background-color: var(--button-bg-color);
    color: white;
    border: none;

    &:hover {
      background-color: var(--button-bg-color-hover);
      transition: 1s;
    }
  }

  &--outlined {
    background-color: white;
    border-color: var(--button-bg-color);
    color: var(--main-bg-color);

    &:hover {
      background-color: rgb(233, 244, 255);
      transition: 1s;
    }
  }

  &--text {
    background-color: transparent;
    border: none;
    color: var(--button-bg-color);

    &:hover {
      background-color: rgb(233, 244, 255);
      transition: 1s;
    }
  }

  &--small {
    --height: 24px;
    --font-size: 12px;
  }

  &--medium {
    --height: 36px;
    --font-size: 16px;
  }

  &--large {
    --height: 48px;
    --font-size: 20px;
  }

  &--primary {
    --button-bg-color: #2196f3;
    --button-bg-color-hover: #1c7ccb;
  }

  &--secondary {
    --button-bg-color: #9c27b0;
    --button-bg-color-hover: #7b1fa2;
  }

  &--error {
    --button-bg-color: #d32f2f;
    --button-bg-color-hover: #c62828;
  }

  &--warning {
    --button-bg-color: #ed6c02;
    --button-bg-color-hover: #e65100;
  }

  &--info {
    --button-bg-color: #0288d1;
    --button-bg-color-hover: #01579b;
  }

  &--success {
    --button-bg-color: #2e7d32;
    --button-bg-color-hover: #1b5e20;
  }
}
