.form-container {
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.field-container {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  margin: 5px;
  width: 100%;
}

.field-container label {
  width: 110px;
}

.field-container span {
  line-height: 32px;
  margin-right: 10px;
  color: #800;
  font-weight: bold;
}
